$headerFooterColor: #333333;
$headerWithLogo: linear-gradient(#00A9E7,#005B9F);
$ButtonsAndTopics: #0076C0;
$fontcommon: Roboto;


html,body,p,h1,h2,h3{
    margin: 0;
    padding: 0;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 1150px)  {
    header{
        display: flex;
        img{
            padding: 15px 20px !important;
        }
    }
    .info{
        width: 100% !important;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        h1{
            padding:150px 0px!important;
        }
    }
    .login_Form{
        max-width: 421px !important;
        width: 90% !important;
        margin: 0 0 50px 0 !important;
        .inp_wrap{
            width: 90% !important;
            input{
                width: 80% !important;
            }
        }
    }
    footer{
        .footNav{
            padding: 0 20px;
            nav{
                display: flex;
                flex-wrap: wrap;
            }
        }
        P{
            padding: 0 20 !important;
        }
    }
    .todo{
        align-items: center;
        .addTask{
            width: 90% !important;
            flex-wrap: wrap;
            justify-content: center !important;
            margin-bottom: 30px !important;
            input{
                height: 50px !important;
                width: 100% !important;
                padding: 0 10px !important;
                margin: 0 0 20px 0 !important;
            }
        }
        .task{
            justify-content: space-around;
            width: 100% !important;
            padding: 0 10px !important;
            .non_comp{
                margin: 0 5px 0 5px !important;
            }
            .comp{
                margin: 0 5px 0 5px !important;
            }
            .bin{
                margin: 0 5px 0 5px !important;
            }
        }
    }
}
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 650px){
      .body{
          .background{
              height: 250px !important;
          }
      }
    .info{
        .info_text{
            padding: 0 10px;
            h1{
                padding:50px 0px 100px 20px!important;
                font-size: 25px !important;
            }
            p{
                line-height:inherit !important;
                margin: 10px 0 15px 0 !important;
            }
        }
        
    }
    footer{
        .footNav{
            flex-direction: column;
            padding: 20px 0;
            img{
                margin: 0 0 20px 0;
            }
            nav{
                justify-content: center;
            }
        }
        p{
            font-size: 10px;
            padding: 0 20px;
        }
    }
    .todo{
        width: 100% !important;
        .addTask{
            width: 90% !important;
            flex-wrap: wrap;
            justify-content: center !important;
            margin-bottom: 30px !important;
            input{
                height: 50px !important;
                width: 100% !important;
                padding: 0 10px !important;
                margin: 0 0 20px 0 !important;
            }
        }
        .task{
            width: 100% !important;
            padding: 0 10px !important;
            .non_comp{
                margin: 0 5px 0 5px !important;
            }
            .comp{
                margin: 0 5px 0 5px !important;
            }
            .bin{
                margin: 0 5px 0 5px !important;
            }
        }
    }
    
  }




.button{
    width: 421px;
    height: 35px;
    border: solid 2px $ButtonsAndTopics;
    background-color: $ButtonsAndTopics;
    font-family: $fontcommon;
    color: white;
    font-family: $fontcommon;
    font-size: 25px;
    margin: 40px 30px 20px 30px;
    transition: 0.1s;
    &:hover{
        border: solid 2px $ButtonsAndTopics;
        background: none;
        color: $ButtonsAndTopics;
        transition: 0.2s;
    }
    &:active{
        background: #50d0ff;
        border: solid 2px #50d0ff;
        color: white;
    }
}
.head{
    width: 100%;
    height: 53px;
    background: $headerFooterColor;
    }
header{
width: 100%;
height: 96px;
background: $headerWithLogo;
display: flex;
    img{
        height: 66px;
        padding: 15px 0 0 377px;
    }
}
.body{
    padding: 0;
    margin: 0;
    height: min-content;
    width: 100%;
    display: flex;
    justify-content: center;
    .background{
        background-image: url(../assets/Background.png);
        width: 100%;
        height: 457px;
        position: absolute;
        z-index: 0;
        
    }
    .info{
        height: min-content;
        max-width: 1164px;
        font-family: $fontcommon;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .info_text{
            max-width: 648px;
            h1{
                font-family: $fontcommon;
                font-weight: 400;
                font-size: 55px;
                line-height: 86.18px;
                color: white;
                padding: 215px 0 110px 0;
                z-index: 1;
                }
                .firstP{
                    margin: 0 0 15px 0;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 25.07px;
                    z-index: 1;
                    span{
                        font-weight: 500;
                        margin: 0;
                    }
                }
            div{
                span{
                    font-weight: 500;
                    margin: 0 0 0 15px;
                }
                p{
                    margin: 10px 0 15px 38px;
                    font-size: 14px;
                }
            }
        }
       
    }
}
footer{
    height: 175px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: $headerFooterColor;
    position: relative;
    margin-top: 25px;
    z-index: 1;
    .footNav{
        width: 100%;
        max-width: 1164px;
        height: 95.5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: solid 2px white;
        img{
            height: 35px;
        }
        nav{
            a{
                color: white;
                font-family: $fontcommon;
                text-decoration: none;
                margin: 0 0 0 20px;
            }
        }
    }
    p{
        width: 100%;
        max-width: 1164px;
        color: white;
        font-family: $fontcommon;
    }
}
.footerBack{
    height: 175px;
    width: 100%;
    background-color: $headerFooterColor;
    position: absolute;
    bottom: 0;
    z-index: 0;
}
.login_Form{
    width: 481px;
    height: 464px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
    box-shadow:2px 2px 15px rgba(0, 0, 0, 0.1);
    margin: 250px 0 0 25px;
    .inp_wrap{
        max-width: 421px;
        padding: 40px 0px 0 0px;
        background-color: white;
        .before{
            font-family: $fontcommon;
            font-size: 18px;
            color: #333333;
        }
        .inp{
            max-width: 421px;
            width: 100%;
            height: 53px;
            border: solid 2px #9A9A9A;
            margin:8px 0 5px 0;
            input{
                height: 100%;
                width: 406px;
                border: none;
                outline: none;
                font-family: $fontcommon;
                font-size: 18px;
                line-height: 21.09px;
                color: #333333;
                padding: 0 0 0 15px;
            }
        }
        img{
            margin: 0 10px 0 0;
        }
        .after{
            opacity: 0;
            span{
                font-family: $fontcommon;
                font-size: 16px;
                line-height: 18.75px;
                color: #D60000;
            }
        }
        .afterNonValid{
            opacity: 1;
            span{
                font-family: $fontcommon;
                font-size: 16px;
                line-height: 18.75px;
                color: #D60000;
            }
        }
    }
    span{
       font-family: $fontcommon;
       font-size: 20px;
       color: $ButtonsAndTopics;
    }
    .reg{
        margin: 23px 0 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 63px;
        background-color: #F6F6F6;
        span{
            color: #333333;
            font-family: $fontcommon;
            font-size: 25px;
        }
    }
}
.ToDoPageWraper{
    height: 100vh;
    width: auto;
    position: relative;
    .background{
        height: 797px;
        width: 100%;
        background: $headerWithLogo;
        position: absolute;
        opacity: 0.7;
    }
    .toDoWraper{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        
        img{
            height: 119px;
            width: 186px;
            z-index: 1;
            margin: 65px 0 66px 0;
        }
        .todo{
            width: 80%;
            max-width: 1191px;
            min-height: 50%;
            height: fit-content;
            padding: 0 0 20px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            overflow: scroll;
            background-color: #ffffff;
            z-index: 1;
            .addTask{
                width: 70%;
                height: 60px;
                background-color: #ffffff;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 20px 0 30px 0;
                input{
                    height: 100%;
                    width: 70%;
                    outline: none;
                    border: none;
                    background-color: #3333335e;
                    font-family: $fontcommon;
                    color: white;
                    font-size: 25px;
                    padding: 0 20px 0 20px;
                    margin: 0 0 0 50px;
                }
                .button{
                    width: fit-content;
                    margin: 0;
                }
            }
            .task{
                width: 70%;
                height: 60px;
                background-color: #ffffff44;
                display: flex;
                justify-content: start;
                align-items: center;
                margin: 20px 0 30px 0;
                .non_comp{
                    border: solid 3px #0076C0;
                    border-radius: 3px;
                    background:none;
                    background-repeat: no-repeat;
                    background-position: center;
                    height: 20px;
                    width: 20px;
                    padding: 3px;
                    margin: 0 20px 0 0;
                }
                .comp{
                    border: solid 3px #0076C0;
                    border-radius: 3px;
                    background: url(../assets/v.png);
                    background-repeat: no-repeat;
                    background-position: center;
                    height: 20px;
                    width: 20px;
                    padding: 3px;
                    margin: 0 20px 0 0;
                }
                input{
                    height: 100%;
                    width: 70%;
                    outline: none;
                    border: none;
                    background-color: #3333335e;
                    font-family: $fontcommon;
                    color: white;
                    font-size: 25px;
                    padding: 0 20px 0 20px;
                }
                .inp_comp{
                    text-decoration: line-through;
                    background-color: #00c02088;
                }
                .bin{
                    width: 40px;
                    height: 40px;
                    background: url(../assets/trash.png);
                    background-size: cover;
                    margin: 0 0 0 40px;
                }
            }

            
        }
    }
}
