$headerFooterColor: #333333;
$headerWithLogo: linear-gradient(#00A9E7,#005B9F);
$ButtonsAndTopics: #0076C0;
$fontcommon: Roboto;


html,body,p,h1,h2,h3{
    margin: 0;
    padding: 0;
}
.button{
    width: 421px;
    height: 35px;
    border: solid 2px $ButtonsAndTopics;
    background-color: $ButtonsAndTopics;
    font-family: $fontcommon;
    color: white;
    font-family: $fontcommon;
    font-size: 25px;
    margin: 40px 30px 20px 30px;
    transition: 0.1s;
    &:hover{
        border: solid 2px $ButtonsAndTopics;
        background: none;
        color: $ButtonsAndTopics;
        transition: 0.2s;
    }
    &:active{
        background: #50d0ff;
        border: solid 2px #50d0ff;
        color: white;
    }
}
.head{
    width: 100%;
    height: 53px;
    background: $headerFooterColor;
    }
header{
width: 100%;
height: 96px;
background: $headerWithLogo;

display: flex;
    img{
        height: 66px;
        padding: 15px 0 0 377px;
    }
}
.body{
    padding: 0;
    margin: 0;
    height: min-content;
    width: 100%;
    .backgrond{
        background-image: url(../assets/Background.png);
        width: 100%;
        height: 457px;
        h1{
        font-family: $fontcommon;
        font-weight: 400;
        font-size: 55px;
        line-height: 86.18px;
        color: white;
        padding: 215px 0 0 371px;
        }
    }
    .info{
        height: min-content;
        font-family: $fontcommon;
        padding: 40px 0 40px 380px;
        p{
            font-weight: 400;
            font-size: 16px;
            line-height: 25.07px;
            span{
                font-weight: 500;
            }
        }
        div{
            margin: 15px 0 0 0;
            span{
                font-weight: 500;
                margin: 0 0 0 15px;
            }
            p{
                margin: 10px 0 0 38px;
                font-size: 14px;
            }
        }
    }
}
footer{
    height: 175px;
    background-color: $headerFooterColor;
    .footNav{
        margin: 0 0 0 376px;
        width: 1164px;
        height: 95.5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: solid 2px white;
        img{
            height: 35px;
        }
        nav{
            a{
                color: white;
                font-family: $fontcommon;
                text-decoration: none;
                margin: 0 0 0 20px;
            }
        }
    }
    p{
        color: white;
        font-family: $fontcommon;
        margin: 30.5px 0 0 376px;
    }
}
.login_Form{
    width: 481px;
    height: 464px;
    position: absolute;
    left: 1067px;
    top:424px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow:2px 2px 15px rgba(0, 0, 0, 0.1);
    .inp_wrap{
        width: 421px;
        padding: 40px 30px 0 30px;
        background-color: white;
        .before{
            font-family: $fontcommon;
            font-size: 18px;
            color: #333333;
        }
        .inp{
            width: 421px;
            height: 53px;
            border: solid 2px #9A9A9A;
            margin:8px 0 5px 0;
            input{
                height: 100%;
                width: 406px;
                border: none;
                outline: none;
                font-family: $fontcommon;
                font-size: 18px;
                line-height: 21.09px;
                color: #333333;
                padding: 0 0 0 15px;
            }
        }
        img{
            margin: 0 10px 0 0;
        }
        .after{
            font-family: $fontcommon;
            font-size: 16px;
            line-height: 18.75px;
            color: #D60000;
        }
    }
    span{
       font-family: $fontcommon;
       font-size: 20px;
       color: $ButtonsAndTopics;
    }
    .reg{
        margin: 23px 0 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 63px;
        background-color: #F6F6F6;
        span{
            color: #333333;
            font-family: $fontcommon;
            font-size: 25px;
        }
    }
}
.ToDoPageWraper{
    height: 100vh;
    width: auto;
    position: relative;
    .background{
        height: 797px;
        width: 100%;
        background: $headerWithLogo;
        position: absolute;
        opacity: 0.7;
    }
    .toDoWraper{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        
        img{
            height: 119px;
            width: 186px;
            z-index: 1;
            margin: 65px 0 66px 0;
        }
        .todo{
            width: 80%;
            max-width: 1191px;
            height: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #ffffff;
            z-index: 1;
            .addTask{
                width: 70%;
                height: 60px;
                background-color: #ffffff;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 20px 0 30px 0;
                input{
                    height: 100%;
                    width: 70%;
                    outline: none;
                    border: none;
                    background-color: #3333335e;
                    font-family: $fontcommon;
                    color: white;
                    font-size: 25px;
                    padding: 0 20px 0 20px;
                }
                .button{
                    width: fit-content;
                    margin: 0;
                }
            }
            .task{
                width: 70%;
                height: 60px;
                background-color: #ffffff44;
                display: flex;
                justify-content: start;
                align-items: center;
                margin: 20px 0 30px 0;
                .non_comp{
                    border: solid 3px #0076C0;
                    border-radius: 3px;
                    background:none;
                    background-repeat: no-repeat;
                    background-position: center;
                    height: 20px;
                    width: 20px;
                    padding: 3px;
                    margin: 0 20px 0 0;
                }
                .comp{
                    border: solid 3px #0076C0;
                    border-radius: 3px;
                    background: url(../assets/v.png);
                    background-repeat: no-repeat;
                    background-position: center;
                    height: 20px;
                    width: 20px;
                    padding: 3px;
                    margin: 0 20px 0 0;
                }
                input{
                    height: 100%;
                    width: 70%;
                    outline: none;
                    border: none;
                    background-color: #3333335e;
                    font-family: $fontcommon;
                    color: white;
                    font-size: 25px;
                    padding: 0 20px 0 20px;
                }
                .inp_comp{
                    text-decoration: line-through;
                    background-color: #00c02088;
                }
                .bin{
                    width: 40px;
                    height: 40px;
                    background: url(../assets/trash.png);
                    background-size: cover;
                    margin: 0 0 0 20px;
                }
            }

            
        }
    }
}
